extends ../layout/common
block title
  |Login
block content
  .row.mt-5
  .col-lg-5.col-md-8.m-auto
    .card.card-body
      h1.text-center.mb-3
        i.fas.fa-sign-in-alt
        |   Login
      include ../partials/messages
      //- p= message
      form(action='/login', method='POST')
        .form-group
          label(for='email') Email
          input#email.form-control(type='text', name='email', placeholder='Enter Email' value=values ? values.email : '')
        .form-group
          label(for='password') Password
          input#password.form-control(type='password', name='password', placeholder='Enter Password')
        button.btn.btn-primary.btn-block(type='submit') Login
      p.lead.mt-4
        | No Account? 
        a(href='/register') Register
