extends ../layout/common
block title 
  |Rigister account
block content
  .row.mt-5
  .col-lg-5.col-md-8.m-auto
    .card.card-body
      h1.text-center.mb-3
        i.fas.fa-sign-in-alt
        |   Register
      //- include ../partials/messages
      form(method="POST")
        .form-group
          label(for='email') Name
          input#email.form-control(type='text', name='username', placeholder='Enter Username' value=values? values.username : '')
        .form-group
          label(for='email') Email<sup class="text-danger">*</sup>
          input#email.form-control(type='text', name='email', placeholder='Enter Email' value=values? values.email: '')
          if errors
            .invalid-feedback
              span= errors[0].msg

          small#emailHelp.form-text.text-muted 
            | We'll never share your email with anyone else.
        .form-group
          label(for='password') Password
          input#password.form-control(type='password', name='password', placeholder='Enter Password')
        .form-group
          label(for='password2') Confirm Password
          input#password2.form-control(type='password', name='password2', placeholder='Confirm Password')
        button.btn.btn-primary.btn-block(type='submit') Register
      p.lead.mt-4
        |Have No Account? 
        a(href='/login') Login
