extends ../layout/common
block title
  | Reset Password
block content
  .row.mt-5
  .col-md-5.m-auto
    .card.card-body
      h1.text-center.mb-3
        i.fas.fa-sign-in-alt
        |  Reset Password
      include ../partials/messages
      p= message
      form(method='POST')
        .form-group
          label(for='pwd') Password
          input#pwd.form-control(type='password', name='password')
        .form-group
          label(for='confirm') Confirm Password
          input.form-control(type='password', name='confirmPassword', value='', placeholder='Confirm password')
        button.btn.btn-primary.btn-block(type='submit') Update Password
