if success_msg != ''
  div.alert.alert-success.alert-dismissible.fade.show(role="alert")
    span= success_msg
    button(type="button" class="close" data-dismiss="alert" aria-label="Close")
      span(aria-hidden="true") &times;
if error_msg.length
  div.alert.alert-danger.alert-dismissible.fade.show(role="alert")
    span= error_msg
    button(type="button" class="close" data-dismiss="alert" aria-label="Close")
      span(aria-hidden="true") &times;
if errors
  each error in errors
    div.alert.alert-warning.alert-dismissible.fade.show(role="alert")
      span= error.msg
      button(type="button" class="close" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") &times;

