extends ../layout/admin
block title 
  | Create category
block content
  .row.mt-5
  .col-md-5.m-auto
      h1.text-center.mb-3 Create category
      include ../partials/messages
      p= message
      form(action=cate._id, method='POST')
        .form-group
          label(for='Title') Name
          input#title.form-control(type='text', name='name', placeholder='Enter name' value=cate.name)
        .form-group
          label(for='description') Name
          input#description.form-control(type='text', name='description', placeholder='Enter description')
        button.btn.btn-primary.btn-block.col-md-3.m-auto(type='submit') Save
    
