extends ../layout/admin
block title 
  | Create new post
block content
  .row.mt-5
  .col-lg-5.col-md-8.m-auto
      h1.text-center.mb-3 Create new post
      include ../partials/messages
      p= message
      form(action='/posts/create', method='POST'  enctype="multipart/form-data")
        .form-group
          label(for='category') Category
          select#category.form-control(name='category')
            each cate in cates
              option(value=cate._id)=cate.name
        .form-group
          label(for='Title') Title
          input#title.form-control(type='text', name='title', placeholder='Enter Title')
        .form-group
          label(for='images') Images
          input#images.form-control(type='file', name='images', placeholder='Enter Title')
        .form-group
          label(for='description') Description
          textarea#description.form-control(type='text', name='description', placeholder='Enter description')
        .form-group
          label(for='body') Body
          textarea#body.form-control(type='text', name='body', placeholder='Enter body')
        .form-group
          label(for='tag') Tag
          input#tag.form-control(type='text', name='tags', placeholder='Enter Tag')

        button.btn.btn-primary.btn-block.col-md-3.m-auto(type='submit') Save
    
