extends ../layout/admin
block title 
  | Create new post
block content
  .row.mt-5
  .col-md-5.m-auto
      h1.text-center.mb-3
        |   Edit post
      include ../partials/messages
      p= message
      form(action= article._id, method='POST' enctype="multipart/form-data")
        .form-group
          label(for='Title') Title
          input#email.form-control(type='text', name='title', placeholder='Enter Title' value=article.title )
        .form-group
          label(for='images') Images
          input#images.form-control(type='file', name='images', placeholder='Enter Title')
          input(type='hidden' name='image_old' value=article.images)
        .form-group
          label(for='password') Description
          input#password.form-control(type='text', name='description', value= article.description)
        .form-group
          label(for='password') Body
          textarea#password.form-control(type='text', name='body', placeholder='Enter body')= article.body
        button.btn.btn-primary.btn-block.col-md-3.m-auto(type='submit') Save
    
