.container
  .bg0.flex-wr-sb-c.p-rl-20.p-tb-8
    .f2-s-1.p-r-30.size-w-0.m-tb-6.flex-wr-s-c
      span.text-uppercase.cl2.p-r-8
        | Trending Now:
      span.dis-inline-block.cl6.slide100-txt.pos-relative.size-w-0(data-in='fadeInDown', data-out='fadeOutDown')
        each trend in trending
          span.dis-inline-block.slide100-txt-item.animated.visible-false
            = trend.title 

    form(action="/")      
      .pos-relative.size-a-2.bo-1-rad-22.of-hidden.bocl11.m-tb-6
        input.f1-s-1.cl6.plh9.s-full.p-l-25.p-r-45(type='text', name='search', placeholder='Search')
        button.flex-c-c.size-a-1.ab-t-r.fs-20.cl2.hov-cl10.trans-03
          i.zmdi.zmdi-search
//-Feature post
section.bg0
  .container
    .row.m-rl--1
      each article in newArticle
        .col-sm-6.col-lg-4.p-rl-1.p-b-2
          .bg-img1.size-a-12.how1.pos-relative(style=`background-image: url(${article.images});`)
            a.dis-block.how1-child1.trans-03(href=`${article.slug}`)
            .flex-col-e-s.s-full.p-rl-25.p-tb-11
              a.dis-block.how1-child2.f1-s-2.cl0.bo-all-1.bocl0.hov-btn1.trans-03.p-rl-5.p-t-2(href=`${article.category.slug}.html`)= article.category.name

              h3.how1-child2.m-t-10
                a.f1-m-1.cl0.hov-cl10.trans-03(href=`${article.slug}`)
                  =  article.title