footer
  .bg2.p-t-40.p-b-25
    .container
      .row
        .col-lg-4.p-b-20
          .size-h-3.flex-s-c
            a(href='index.html')
              img.max-s-full(src='images/icons/logo-02.png', alt='LOGO')
          div
            p.f1-s-1.cl11.p-b-16
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempor magna eget elit efficitur, at
              | accumsan sem placerat. Nulla tellus libero, mattis nec molestie at, facilisis ut turpis. Vestibulum
              | dolor metus, tincidunt eget odio
            p.f1-s-1.cl11.p-b-16
              | Any questions? Call us on (+1) 96 716 6879
            .p-t-15
              a.fs-18.cl11.hov-cl10.trans-03.m-r-8(href='#')
                span.fab.fa-facebook-f
              a.fs-18.cl11.hov-cl10.trans-03.m-r-8(href='#')
                span.fab.fa-twitter
              a.fs-18.cl11.hov-cl10.trans-03.m-r-8(href='#')
                span.fab.fa-pinterest-p
              a.fs-18.cl11.hov-cl10.trans-03.m-r-8(href='#')
                span.fab.fa-vimeo-v
              a.fs-18.cl11.hov-cl10.trans-03.m-r-8(href='#')
                span.fab.fa-youtube
        .col-sm-6.col-lg-4.p-b-20
          .size-h-3.flex-s-c
            h5.f1-m-7.cl0
              | Popular Posts
          ul
            li.flex-wr-sb-s.p-b-20
              a.size-w-4.wrap-pic-w.hov1.trans-03(href='#')
                img(src='images/popular-post-01.jpg', alt='IMG')
              .size-w-5
                h6.p-b-5
                  a.f1-s-5.cl11.hov-cl10.trans-03(href='#')
                    | Donec metus orci, malesuada et lectus vitae
                span.f1-s-3.cl6
                  | Feb 17
            li.flex-wr-sb-s.p-b-20
              a.size-w-4.wrap-pic-w.hov1.trans-03(href='#')
                img(src='images/popular-post-02.jpg', alt='IMG')
              .size-w-5
                h6.p-b-5
                  a.f1-s-5.cl11.hov-cl10.trans-03(href='#')
                    | Lorem ipsum dolor sit amet, consectetur
                span.f1-s-3.cl6
                  | Feb 16
            li.flex-wr-sb-s.p-b-20
              a.size-w-4.wrap-pic-w.hov1.trans-03(href='#')
                img(src='images/popular-post-03.jpg', alt='IMG')
              .size-w-5
                h6.p-b-5
                  a.f1-s-5.cl11.hov-cl10.trans-03(href='#')
                    | Suspendisse dictum enim quis imperdiet auctor
                span.f1-s-3.cl6
                  | Feb 15
        .col-sm-6.col-lg-4.p-b-20
          .size-h-3.flex-s-c
            h5.f1-m-7.cl0
              | Category
          ul.m-t--12
            li.how-bor1.p-rl-5.p-tb-10
              a.f1-s-5.cl11.hov-cl10.trans-03.p-tb-8(href='#')
                | Fashion (22)
            li.how-bor1.p-rl-5.p-tb-10
              a.f1-s-5.cl11.hov-cl10.trans-03.p-tb-8(href='#')
                | Technology (29)
            li.how-bor1.p-rl-5.p-tb-10
              a.f1-s-5.cl11.hov-cl10.trans-03.p-tb-8(href='#')
                | Street Style (15)
            li.how-bor1.p-rl-5.p-tb-10
              a.f1-s-5.cl11.hov-cl10.trans-03.p-tb-8(href='#')
                | Life Style (28)
            li.how-bor1.p-rl-5.p-tb-10
              a.f1-s-5.cl11.hov-cl10.trans-03.p-tb-8(href='#')
                | DIY &amp; Crafts (16)
//-Back to top
#myBtn.btn-back-to-top
  span.symbol-btn-back-to-top
    span.fas.fa-angle-up
//-Modal Video 01
#modal-video-01.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog(role='document', data-dismiss='modal')
    .close-mo-video-01.trans-0-4(data-dismiss='modal', aria-label='Close') &times;
    .wrap-video-mo-01
      .video-mo-01
        iframe(src='https://www.youtube.com/embed/wJnBTPUQS5A?rel=0', allowfullscreen='')
//-===============================================================================================
script(src='vendor/jquery/jquery-3.2.1.min.js')
//-===============================================================================================
script(src='vendor/animsition/js/animsition.min.js')
//-===============================================================================================
script(src='vendor/bootstrap/js/popper.js')
script(src='vendor/bootstrap/js/bootstrap.min.js')
//-===============================================================================================
script(src='js/main.js')