section.bg0.p-t-70
  .container
    .row.justify-content-center
      .col-md-10.col-lg-8
        .p-b-20
          //-Travel
          .tab01.p-b-20
            .tab01-head.how2.how2-cl3.bocl12.flex-s-c.m-r-10.m-r-0-sr991
              //-Brand tab
              h3.f1-m-2.cl14.tab01-title
                | Travel
              //-Nav tabs
              ul.nav.nav-tabs(role='tablist')
                li.nav-item
                  a.nav-link.active(data-toggle='tab', href='#tab3-1', role='tab') All
                li.nav-item
                  a.nav-link(data-toggle='tab', href='#tab3-2', role='tab') Hotels
                li.nav-item
                  a.nav-link(data-toggle='tab', href='#tab3-3', role='tab') Flight
                li.nav-item
                  a.nav-link(data-toggle='tab', href='#tab3-4', role='tab') Beachs
                li.nav-item
                  a.nav-link(data-toggle='tab', href='#tab3-5', role='tab') Culture
                li.nav-item-more.dropdown.dis-none
                  a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#')
                    i.fa.fa-ellipsis-h
                  ul.dropdown-menu
              //-
              a.tab01-link.f1-s-1.cl9.hov-cl10.trans-03(href='category-01.html')
                | View all
                i.fs-12.m-l-5.fa.fa-caret-right
            //-Tab panes
            .tab-content.p-t-35
              //--
              #tab3-1.tab-pane.fade.show.active(role='tabpanel')
                .row
                  .col-sm-6.p-r-25.p-r-15-sr991
                    //-Item post
                    .m-b-30
                      a.wrap-pic-w.hov1.trans-03(href='blog-detail-01.html')
                        img(src='images/post-14.jpg', alt='IMG')
                      .p-t-20
                        h5.p-b-5
                          a.f1-m-3.cl2.hov-cl10.trans-03(href='blog-detail-01.html')
                            | You wish lorem ipsum dolor sit amet consectetur
                        span.cl8
                          a.f1-s-4.cl8.hov-cl10.trans-03(href='#')
                            | Hotels
                          span.f1-s-3.m-rl-3
                            | -
                          span.f1-s-3
                            | Feb 18
                  .col-sm-6.p-r-25.p-r-15-sr991
                    //-Item post
                    .flex-wr-sb-s.m-b-30
                      a.size-w-1.wrap-pic-w.hov1.trans-03(href='blog-detail-01.html')
                        img(src='images/post-15.jpg', alt='IMG')
                      .size-w-2
                        h5.p-b-5
                          a.f1-s-5.cl3.hov-cl10.trans-03(href='blog-detail-01.html')
                            | Donec metus orci, malesuada et lectus vitae
                        span.cl8
                          a.f1-s-6.cl8.hov-cl10.trans-03(href='#')
                            | Beachs
                          span.f1-s-3.m-rl-3
                            | -
                          span.f1-s-3
                            | Feb 17
                    //-Item post
                    .flex-wr-sb-s.m-b-30
                      a.size-w-1.wrap-pic-w.hov1.trans-03(href='blog-detail-01.html')
                        img(src='images/post-16.jpg', alt='IMG')
                      .size-w-2
                        h5.p-b-5
                          a.f1-s-5.cl3.hov-cl10.trans-03(href='blog-detail-01.html')
                            | Donec metus orci, malesuada et lectus vitae
                        span.cl8
                          a.f1-s-6.cl8.hov-cl10.trans-03(href='#')
                            | Flight
                          span.f1-s-3.m-rl-3
                            | -
                          span.f1-s-3
                            | Feb 16
                    //-Item post
                    .flex-wr-sb-s.m-b-30
                      a.size-w-1.wrap-pic-w.hov1.trans-03(href='blog-detail-01.html')
                        img(src='images/post-17.jpg', alt='IMG')
                      .size-w-2
                        h5.p-b-5
                          a.f1-s-5.cl3.hov-cl10.trans-03(href='blog-detail-01.html')
                            | Donec metus orci, malesuada et lectus vitae
                        span.cl8
                          a.f1-s-6.cl8.hov-cl10.trans-03(href='#')
                            | Culture
                          span.f1-s-3.m-rl-3
                            | -
                          span.f1-s-3
                            | Feb 12
              //--
              #tab3-2.tab-pane.fade(role='tabpanel')
                .row
                  .col-sm-6.p-r-25.p-r-15-sr991
                    //-Item post
                    .m-b-30
                      a.wrap-pic-w.hov1.trans-03(href='blog-detail-01.html')
                        img(src='images/post-15.jpg', alt='IMG')
                      .p-t-20
                        h5.p-b-5
                          a.f1-m-3.cl2.hov-cl10.trans-03(href='blog-detail-01.html')
                            | You wish lorem ipsum dolor sit amet consectetur
                        span.cl8
                          a.f1-s-4.cl8.hov-cl10.trans-03(href='#')
                            | Hotels
                          span.f1-s-3.m-rl-3
                            | -
                          span.f1-s-3
                            | Feb 18
                  .col-sm-6.p-r-25.p-r-15-sr991
                    //-Item post
                    .flex-wr-sb-s.m-b-30
                      a.size-w-1.wrap-pic-w.hov1.trans-03(href='blog-detail-01.html')
                        img(src='images/post-16.jpg', alt='IMG')
                      .size-w-2
                        h5.p-b-5
                          a.f1-s-5.cl3.hov-cl10.trans-03(href='blog-detail-01.html')
                            | Donec metus orci, malesuada et lectus vitae
                        span.cl8
                          a.f1-s-6.cl8.hov-cl10.trans-03(href='#')
                            | Beachs
                          span.f1-s-3.m-rl-3
                            | -
                          span.f1-s-3
                            | Feb 17
                    //-Item post
                    .flex-wr-sb-s.m-b-30
                      a.size-w-1.wrap-pic-w.hov1.trans-03(href='blog-detail-01.html')
                        img(src='images/post-17.jpg', alt='IMG')
                      .size-w-2
                        h5.p-b-5
                          a.f1-s-5.cl3.hov-cl10.trans-03(href='blog-detail-01.html')
                            | Donec metus orci, malesuada et lectus vitae
                        span.cl8
                          a.f1-s-6.cl8.hov-cl10.trans-03(href='#')
                            | Flight
                          span.f1-s-3.m-rl-3
                            | -
                          span.f1-s-3
                            | Feb 16
                    //-Item post
                    .flex-wr-sb-s.m-b-30
                      a.size-w-1.wrap-pic-w.hov1.trans-03(href='blog-detail-01.html')
                        img(src='images/post-18.jpg', alt='IMG')
                      .size-w-2
                        h5.p-b-5
                          a.f1-s-5.cl3.hov-cl10.trans-03(href='blog-detail-01.html')
                            | Donec metus orci, malesuada et lectus vitae
                        span.cl8
                          a.f1-s-6.cl8.hov-cl10.trans-03(href='#')
                            | Culture
                          span.f1-s-3.m-rl-3
                            | -
                          span.f1-s-3
                            | Feb 12
              //--
              #tab3-3.tab-pane.fade(role='tabpanel')
                .row
                  .col-sm-6.p-r-25.p-r-15-sr991
                    //-Item post
                    .m-b-30
                      a.wrap-pic-w.hov1.trans-03(href='blog-detail-01.html')
                        img(src='images/post-16.jpg', alt='IMG')
                      .p-t-20
                        h5.p-b-5
                          a.f1-m-3.cl2.hov-cl10.trans-03(href='blog-detail-01.html')
                            | You wish lorem ipsum dolor sit amet consectetur
                        span.cl8
                          a.f1-s-4.cl8.hov-cl10.trans-03(href='#')
                            | Hotels
                          span.f1-s-3.m-rl-3
                            | -
                          span.f1-s-3
                            | Feb 18
                  .col-sm-6.p-r-25.p-r-15-sr991
                    //-Item post
                    .flex-wr-sb-s.m-b-30
                      a.size-w-1.wrap-pic-w.hov1.trans-03(href='blog-detail-01.html')
                        img(src='images/post-17.jpg', alt='IMG')
                      .size-w-2
                        h5.p-b-5
                          a.f1-s-5.cl3.hov-cl10.trans-03(href='blog-detail-01.html')
                            | Donec metus orci, malesuada et lectus vitae
                        span.cl8
                          a.f1-s-6.cl8.hov-cl10.trans-03(href='#')
                            | Beachs
                          span.f1-s-3.m-rl-3
                            | -
                          span.f1-s-3
                            | Feb 17
                    //-Item post
                    .flex-wr-sb-s.m-b-30
                      a.size-w-1.wrap-pic-w.hov1.trans-03(href='blog-detail-01.html')
                        img(src='images/post-18.jpg', alt='IMG')
                      .size-w-2
                        h5.p-b-5
                          a.f1-s-5.cl3.hov-cl10.trans-03(href='blog-detail-01.html')
                            | Donec metus orci, malesuada et lectus vitae
                        span.cl8
                          a.f1-s-6.cl8.hov-cl10.trans-03(href='#')
                            | Flight
                          span.f1-s-3.m-rl-3
                            | -
                          span.f1-s-3
                            | Feb 16
                    //-Item post
                    .flex-wr-sb-s.m-b-30
                      a.size-w-1.wrap-pic-w.hov1.trans-03(href='blog-detail-01.html')
                        img(src='images/post-14.jpg', alt='IMG')
                      .size-w-2
                        h5.p-b-5
                          a.f1-s-5.cl3.hov-cl10.trans-03(href='blog-detail-01.html')
                            | Donec metus orci, malesuada et lectus vitae
                        span.cl8
                          a.f1-s-6.cl8.hov-cl10.trans-03(href='#')
                            | Culture
                          span.f1-s-3.m-rl-3
                            | -
                          span.f1-s-3
                            | Feb 12
              //--
              #tab3-4.tab-pane.fade(role='tabpanel')
                .row
                  .col-sm-6.p-r-25.p-r-15-sr991
                    //-Item post
                    .m-b-30
                      a.wrap-pic-w.hov1.trans-03(href='blog-detail-01.html')
                        img(src='images/post-17.jpg', alt='IMG')
                      .p-t-20
                        h5.p-b-5
                          a.f1-m-3.cl2.hov-cl10.trans-03(href='blog-detail-01.html')
                            | You wish lorem ipsum dolor sit amet consectetur
                        span.cl8
                          a.f1-s-4.cl8.hov-cl10.trans-03(href='#')
                            | Hotels
                          span.f1-s-3.m-rl-3
                            | -
                          span.f1-s-3
                            | Feb 18
                  .col-sm-6.p-r-25.p-r-15-sr991
                    //-Item post
                    .flex-wr-sb-s.m-b-30
                      a.size-w-1.wrap-pic-w.hov1.trans-03(href='blog-detail-01.html')
                        img(src='images/post-18.jpg', alt='IMG')
                      .size-w-2
                        h5.p-b-5
                          a.f1-s-5.cl3.hov-cl10.trans-03(href='blog-detail-01.html')
                            | Donec metus orci, malesuada et lectus vitae
                        span.cl8
                          a.f1-s-6.cl8.hov-cl10.trans-03(href='#')
                            | Beachs
                          span.f1-s-3.m-rl-3
                            | -
                          span.f1-s-3
                            | Feb 17
                    //-Item post
                    .flex-wr-sb-s.m-b-30
                      a.size-w-1.wrap-pic-w.hov1.trans-03(href='blog-detail-01.html')
                        img(src='images/post-14.jpg', alt='IMG')
                      .size-w-2
                        h5.p-b-5
                          a.f1-s-5.cl3.hov-cl10.trans-03(href='blog-detail-01.html')
                            | Donec metus orci, malesuada et lectus vitae
                        span.cl8
                          a.f1-s-6.cl8.hov-cl10.trans-03(href='#')
                            | Flight
                          span.f1-s-3.m-rl-3
                            | -
                          span.f1-s-3
                            | Feb 16
                    //-Item post
                    .flex-wr-sb-s.m-b-30
                      a.size-w-1.wrap-pic-w.hov1.trans-03(href='blog-detail-01.html')
                        img(src='images/post-15.jpg', alt='IMG')
                      .size-w-2
                        h5.p-b-5
                          a.f1-s-5.cl3.hov-cl10.trans-03(href='blog-detail-01.html')
                            | Donec metus orci, malesuada et lectus vitae
                        span.cl8
                          a.f1-s-6.cl8.hov-cl10.trans-03(href='#')
                            | Culture
                          span.f1-s-3.m-rl-3
                            | -
                          span.f1-s-3
                            | Feb 12
              //--
              #tab3-5.tab-pane.fade(role='tabpanel')
                .row
                  .col-sm-6.p-r-25.p-r-15-sr991
                    //-Item post
                    .m-b-30
                      a.wrap-pic-w.hov1.trans-03(href='blog-detail-01.html')
                        img(src='images/post-18.jpg', alt='IMG')
                      .p-t-20
                        h5.p-b-5
                          a.f1-m-3.cl2.hov-cl10.trans-03(href='blog-detail-01.html')
                            | You wish lorem ipsum dolor sit amet consectetur
                        span.cl8
                          a.f1-s-4.cl8.hov-cl10.trans-03(href='#')
                            | Hotels
                          span.f1-s-3.m-rl-3
                            | -
                          span.f1-s-3
                            | Feb 18
                  .col-sm-6.p-r-25.p-r-15-sr991
                    //-Item post
                    .flex-wr-sb-s.m-b-30
                      a.size-w-1.wrap-pic-w.hov1.trans-03(href='blog-detail-01.html')
                        img(src='images/post-17.jpg', alt='IMG')
                      .size-w-2
                        h5.p-b-5
                          a.f1-s-5.cl3.hov-cl10.trans-03(href='blog-detail-01.html')
                            | Donec metus orci, malesuada et lectus vitae
                        span.cl8
                          a.f1-s-6.cl8.hov-cl10.trans-03(href='#')
                            | Beachs
                          span.f1-s-3.m-rl-3
                            | -
                          span.f1-s-3
                            | Feb 17
                    //-Item post
                    .flex-wr-sb-s.m-b-30
                      a.size-w-1.wrap-pic-w.hov1.trans-03(href='blog-detail-01.html')
                        img(src='images/post-16.jpg', alt='IMG')
                      .size-w-2
                        h5.p-b-5
                          a.f1-s-5.cl3.hov-cl10.trans-03(href='blog-detail-01.html')
                            | Donec metus orci, malesuada et lectus vitae
                        span.cl8
                          a.f1-s-6.cl8.hov-cl10.trans-03(href='#')
                            | Flight
                          span.f1-s-3.m-rl-3
                            | -
                          span.f1-s-3
                            | Feb 16
                    //-Item post
                    .flex-wr-sb-s.m-b-30
                      a.size-w-1.wrap-pic-w.hov1.trans-03(href='blog-detail-01.html')
                        img(src='images/post-15.jpg', alt='IMG')
                      .size-w-2
                        h5.p-b-5
                          a.f1-s-5.cl3.hov-cl10.trans-03(href='blog-detail-01.html')
                            | Donec metus orci, malesuada et lectus vitae
                        span.cl8
                          a.f1-s-6.cl8.hov-cl10.trans-03(href='#')
                            | Culture
                          span.f1-s-3.m-rl-3
                            | -
                          span.f1-s-3
                            | Feb 12
          include ./sidebar